
<h1>
  ------------ Show All Products ------
</h1>
<button (click)="getProducts()">Show All Product</button>

<table border="1" *ngIf="showAllproducts">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <tbody *ngFor="let item of allProducts">
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.price}}</td>
  </tbody>
</table>

<br> <br>

<a [routerLink]="'/create'">Create</a>
<br> <br>
<a [routerLink]="'/delete'">Delete</a>
<br> <br>
<a [routerLink]="'/update'">Update</a>
<br> <br>
<a [routerLink]="'/getsingleproduct'">Get</a>

<router-outlet></router-outlet>

<!-- <app-getsingleproduct></app-getsingleproduct> -->
<!-- <app-deleteproduct></app-deleteproduct> -->
<!-- <app-createproduct></app-createproduct> -->
<!-- <app-updateproduct></app-updateproduct> -->
